<!DOCTYPE html>
<html>
  <head>
    <title>Log</title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
  	<div class="navbar">
          <a class="brand" href="/">
          	railsgirl
          </a>
          <ul class="nav">
            <li class="active">
            	<a href="/">
            		blog
            	</a>
            </li>
           </ul>
    </div>
     


 
    <div class="container content">
      <%= yield %>
    </div>


    <footer>
      <div class="container">
    	   BERLIN <%= Date.today.year %> .railsgirl &lt;3
      </div>
    </footer>
  </body>
</html>
